{{ define "layouts/dashboardMenu.tmpl" }}

<nav class="my-main-navbar">
    <div class="container d-flex justify-content-between">
        <div>
            <a class="py-3 my-nav-option-link my-font-weight-bold" href="#">Dashboard</a>
        </div>
        <div>
            <a href="#" id="portrait-nav-toggle" class="my-nav-icon">
                <img src="/assets/navigation-icons/nav-menu.svg" alt="logo" />
            </a>
            <ul class="my-plain-ul my-main-nav-menu">
                <li class="my-drop-down-expander d-inline-block me-2">
                    <a class="py-3 my-nav-option-link" href="#">Article<img class="my-drop-down-icon" src="/assets/navigation-icons/drop-down.svg" alt="drop down icon" /></a>
                    <ul class="my-drop-down-list my-plain-ul">
                        <li class="px-2 my-drop-down-item"><a href="/admin/new/article">Create</a></li>
                        <li class="px-2 my-drop-down-item"><a href="/admin/view/articles">View</a></li>
                    </ul>
                </li>
                <li class="my-drop-down-expander d-inline-block me-2">
                    <a class="py-3 my-nav-option-link" href="#">Category<img class="my-drop-down-icon" src="/assets/navigation-icons/drop-down.svg" alt="drop down icon" /></a>
                    <ul class="my-drop-down-list my-plain-ul">
                        <li class="px-2 my-drop-down-item"><a href="/admin/new/category">Create</a></li>
                        <li class="px-2 my-drop-down-item"><a href="/admin/view/categories">View</a></li>
                    </ul>
                </li>
                <li class="d-inline-block me-2">
                    <a class="py-3 my-nav-option-link" href="/admin/actions">Actions</a>
                </li>
                <li class="d-inline-block me-2">
                    <a class="py-3 my-nav-option-link" href="/">Back</a>
                </li>
            </ul>
            <div id="my-portrait-nav-menu" class="my-display-none">
                <div class="container">
                    <ul class="my-plain-ul">
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link active" href="/admin/new/article">Create article</a>
                        </li>
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link active" href="/admin/view/articles">View articles</a>
                        </li>
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link" href="/admin/new/category">Create category</a>
                        </li>
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link" href="/admin/view/categories">View Categories</a>
                        </li>
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link" href="/admin/actions">Actions</a>
                        </li>
                        <li class="my-portrait-nav-item">
                            <a class="py-3 my-nav-option-link" href="/">Back</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

{{ end }}