{{ define "layouts/header.tmpl" }}
<nav class="my-main-navbar">
    <div class="container">
        <div class="row g-0">
            <div class="col-3">
                <a class="py-3 my-navbar-logo my-nav-option-link my-font-weight-bold" href="/articles">gits</a>
            </div>
            <div class="right-menu col-9 my-menu-alight">
                <a href="#" id="portrait-nav-toggle" class="my-nav-icon">
                    <img src="/assets/navigation-icons/nav-menu.svg" alt="logo" />
                </a>
                <div class="my-main-nav-menu">
                    <ul class="my-plain-ul">
                        <li class="d-inline-block me-2">
                            <a class="py-3 my-nav-option-link active" href="/articles">Articles</a>
                        </li>
                        <li class="d-inline-block me-2">
                            <a class="py-3 my-nav-option-link" href="/contact/me">Contact</a>
                        </li>
                        <li class="d-inline-block me-2 my-drop-down-expander">
                            <a class="py-3 my-nav-option-link" href="#">Tools<img class="my-drop-down-icon" src="/assets/navigation-icons/drop-down.svg" alt="drop down icon" /></a>
                            <ul class="my-drop-down-list my-plain-ul">
                                <li class="px-2 my-drop-down-item"><a href="/foxhole/artillery-calculator">Foxhole artillery calculator</a></li>
                            </ul>
                        </li>
                        <li class="d-inline-block">
                            <a class="py-3 my-nav-option-link" href="/auth">Login</a>
                        </li>
                    </ul>
                </div>
                <div id="my-portrait-nav-menu" class="my-display-none">
                    <div class="container">
                        <ul class="my-plain-ul">
                            <li class="my-portrait-nav-item">
                                <a class="py-3 my-nav-option-link active" href="/articles">Articles</a>
                            </li>
                            <li class="my-portrait-nav-item">
                                <a class="py-3 my-nav-option-link" href="/contact/me">Contact</a>
                            </li>
                            <li class="my-portrait-nav-item">
                                <a class="py-3 my-nav-option-link" href="/foxhole/artillery-calculator">Foxhole artillery calculator</a>
                            </li>
                            <li class="my-portrait-nav-item">
                                <a class="py-3 my-nav-option-link" href="/auth">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{{ end }}