{{ define "layouts/header.tmpl" }}
<nav class="my-main-navbar">
    <div class="container">
        <div class="row g-0">
            <div class="col-3">
                <a class="py-3 my-navbar-logo my-nav-option-link my-font-weight-bold" href="/articles">gits</a>
            </div>
            <div class="col-9 my-text-right">
                <ul class="my-reboot-ul">
                    <li class="d-inline-block me-2">
                        <a class="py-3 my-nav-option-link active" href="/articles">Articles</a>
                    </li>
                    <li class="d-inline-block me-2">
                        <a class="py-3 my-nav-option-link" href="/unknown">Contact</a>
                    </li>
                    <li class="d-inline-block">
                        <a class="py-3 my-nav-option-link" href="/auth">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{{ end }}