{{ define "layouts/postItem.tmpl" }}
<li>
    <span class="my-date">{{ "January 02, 2006" | DateFormat .Date }} </span>
    <h3 class="my-h"><a href="/article/{{ .Id }}" class="my-post-link">{{ .Title }}</a></h3>
    <p class="my-p text-justify"> {{ .Content }} <a class="my-post-link" href="/article/{{ .Id }}">… read more »</a></p>
</li>
{{ end }}