{{ define "layouts/postItem.tmpl" }}
<li>
    <span class="my-date">Sep 5, 2022</span>
    <h3 class="my-h"><a href="/article" class="my-post-link">Middleware</a></h3>
    <p class="my-p text-justify">
        A middleware handler is simply an http.Handler that wraps another http.Handler to do some pre- and/or post-processing of the request. It’s called “middleware” because it sits in the middle between the Go web server and the actual handler.
        In this scheme general scheme. We could see how work middleware We could see where we need to put our code for make pre- and/or post-processing. It is the responsibility of the console to write the details of each request. We could see go code on exapmle <a class="my-post-link" href="/article">… read more »</a></p>
</li>
{{ end }}