.my-error {
    display: table-cell;
    vertical-align: middle;
}

.my-error > h1 {
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type{
    from{box-shadow: inset -3px 0 0 var(--textColor);}
    to{box-shadow: inset -3px 0 0 transparent;}
}