:root {
    --textColor: #424242;
    --descriptionColor: #828282;
    --linkColor: #1756a9;
    --backgroundColor: #FFFFFF;
    --seperatorColor: rgb(0, 0, 0, 0.1);
    --secondaryColor: #f1f1f1;
    --selectedColor: #ddd;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--textColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.my-input:focus {
    border-color: var(--textColor);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(66, 66, 66, 0.25);
}

/* General style */

.my-small-flag {
    width: 32px;
    height: 20px;
}

.my-font-weight-bold {
    font-weight: 700;
}

.my-center {
    text-align: center;
}
.my-menu-alight {
    text-align: right;
}

.my-h {
    margin-bottom: 15px;
}

.my-h1 {
    font-size: 36px;
    font-weight: 400;
}

.my-p {
    margin-bottom: 15px;
}

.text-justify {
    text-align: justify;
}

.my-plain-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-full-height {
    min-height: 100vh;
}

.my-full-width {
    min-width: 100%;
}
.my-display-none {
    display: none;
}

.my-back-icon {
    width: 32px;
    height: 32px;
}

/* Navigation bar */

.my-main-navbar {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-navbar-logo {
    text-transform: uppercase;
}

.my-nav-option-link {
    font-size: 15px;
    text-decoration: none;
    color: var(--textColor);
    display: block;
}

.my-nav-option-link:hover {
    text-decoration: underline;
    color: var(--textColor);
}

.my-page-content {
    padding: 30px 0;
    flex: 1 0 auto;
}

.my-footer {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

/* Content */

.my-date {
    font-size: 14px;
    color: var(--descriptionColor);
}

.my-post-link {
    color: var(--linkColor);
    text-decoration: none;
}

.my-post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-post-list > li {
    margin-bottom: 30px;
}

.my-social-media-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.my-social-media-item {
    width: 20px;
    height: 20px;
}

.my-cover {
    display: table;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.my-small-description {
    color: var(--descriptionColor);
    font-size: 14px;
}

.my-label {
    font-size: .825rem;
}

/* Drop down menu */

.my-drop-down-list {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: var(--secondaryColor);
}

.my-drop-down-item {
    font-size: 15px;
    text-decoration: none;
    color: var(--textColor);
    line-height: 36px;
    border-bottom: 1px solid var(--seperatorColor);
}

.my-drop-down-item:last-child {
    border-bottom: none;
}

.my-drop-down-item > a {
    text-decoration: none;
    color: var(--textColor);
}

.my-drop-down-item:hover {
    background-color: var(--selectedColor);
}

.my-drop-down-expander:hover .my-drop-down-icon {
    transform: rotateX(180deg);
    transition: transform 0.3s ease-in-out
}

.my-drop-down-icon {
    width: 18px;
    height: 18px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out
}

.my-drop-down-expander:hover > .my-drop-down-list {
    display: block;
}

@media only screen and (min-width: 767px) {

    .my-nav-icon {
        display: none;
    }

    #my-portrait-nav-menu {
        display: none;
    }

}


@media only screen and (max-width: 767px) {

    .my-portrait-nav-item {
        text-align: left;
        border-bottom: 1px solid var(--seperatorColor);
    }

    .my-main-nav-menu {
        display: none;
    }

    #my-portrait-nav-menu {
        position: fixed;
        z-index: 1;
        overflow: auto;
        left: 0;
        top: 55px;
        transition: all 0.3s ease-in-out;
        height: calc(100vh - 55px);
        width: 100%;
        background: var(--backgroundColor);
    }

    .my-nav-icon {
        width: 24px;
        height: 100%;
        display: inline-block;
    }

    .my-nav-icon > img {
        height: 100%;
        width: 100%;
    }

}