{{ define "views/actions.tmpl" }}
<!doctype html>
<html lang="en">
<head>
    {{ template "layouts/head.tmpl" .}}
    <link rel="stylesheet" href="/assets/dashboard.css" />
</head>
<body>
    <div class="d-flex my-full-height">
        {{ template "layouts/dashboardMenu.tmpl" "/admin/actions"}}
        <main class="container">
            <div class="mx-4 my-1">
                <table class="table table-hover dashboard-table-round table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP</th>
                        <th scope="col">Country</th>
                        <th scope="col">Path</th>
                        <th scope="col">Browser</th>
                        <th scope="col">User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>192.166.0.1</td>
                        <td>Ukraine</td>
                        <td>/index</td>
                        <td>Safari</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>112.116.0.1</td>
                        <td>Ukraine</td>
                        <td>/articles</td>
                        <td>Safari</td>
                        <td>Mod</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>22.106.11.9</td>
                        <td>Ukraine</td>
                        <td>/article/1</td>
                        <td>Safari</td>
                        <td>Mod</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    {{ template "layouts/scripts.tmpl" .}}
</body>
{{ end }}