{{ define "views/article.tmpl" }}
<!doctype html>
<html lang="en">
<head>
    {{ template "layouts/head.tmpl" .}}
    <link rel="stylesheet" href="/assets/markdown.css" />
</head>
<body>
    {{ template "layouts/header.tmpl" .}}
    <main class="my-page-content">
        <div class="container">
            <h1 class="my-h1 my-h">{{ .article.Title }}</h1>
            <p class="my-p my-small-description text-start float-start">{{  "January 02, 2006" | DateFormat .article.Date }} • {{ .article.Author.FullName }}, {{ .article.Location }}</p>
            <p class="text-end">Estimated reading time: {{ .article.ReadingTimeText }} </p>
            <ul class="my-plain-ul">
                {{range .article.Categories }}
                    <li class="badge text-bg-dark">{{ .Title }}</li>
                {{ end }}
            </ul>
            <article class="markdown-body my-page-content">
                {{ .article.Content }}
            </article>
        </div>
    </main>
    {{ template "layouts/footer.tmpl" . }}
    {{ template "layouts/scripts.tmpl" .}}
</body>
</html>
{{ end }}