{{ define "views/articles.tmpl" }}
<!doctype html>
<html lang="en">
<head>
    {{ template "layouts/head.tmpl" .}}
</head>
<body>
{{ template "layouts/dashboardMenu.tmpl" .}}
<main class="container my-full-height">
    <div class="my-page-content">
        <h2 class="my-h">Articles</h2>
        <p class="my-3">You could manipulate with these articles</p>
        <ol class="list-group list-group-numbered">
            {{ range .Articles }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="px-2 me-auto">
                    <a href="/article/{{ .Id }}" class="fw-bold">{{ .Title }}</a>
                </div>
                <div  class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-warning">Hide<span class="my-display-none">{{ .Id }}</span></button>
                    <button type="button" class="btn btn-sm btn-danger">Delete<span class="my-display-none">{{ .Id }}</span></button>
                </div>
            </li>
            {{ end }}
        </ol>
    </div>

    {{ template "layouts/pagination.tmpl" .Pagination}}
</main>

{{ template "layouts/scripts.tmpl" .}}
</body>
</html>
{{ end }}