{{ define "views/index.tmpl" }}
<!doctype html>
<html lang="en">
<head>
    {{ template "layouts/head.tmpl" .}}
</head>
<body>
    {{ template "layouts/header.tmpl" .}}
    <main class="my-page-content">
        <div class="container">
            <ul class="my-post-list">
                {{ range .content.Articles }}
                    {{ template "layouts/postItem.tmpl" .}}
                {{ end }}
            </ul>
        </div>
        {{ template "layouts/pagination.tmpl" .content.Pagination}}
    </main>
    {{ template "layouts/footer.tmpl" . }}
    {{ template "layouts/scripts.tmpl" .}}
</body>
</html>
{{ end }}